<% include partials/header %>
<h1>
	Home Page!!
</h1>

<img src= "https://i5.walmartimages.com/asr/c514e89b-2585-420a-9a01-c8d9d40221b4_1.914168dd8d944a5ecddc581204ba3b9a.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">

<% include partials/footer %>