<% include partials/header %>
<h1>
	you fell in love with : <%= pawan %>
	
	<% if(pawan === "vis"){ %>
		<p>
			Good choice	
		</p>
	<% }else{ %>
		<p>
			Bad Choice	
		</p>
	<% } %>
</h1>

<% include partials/footer %>